# =========================
# Python cache & compiled
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
env/
venv/
ENV/
.venv/

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs & runtime files
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
